<!DOCTYPE html>
<html>

<head>
    <title>Pride Form</title>
</head>

<body>

    <form name="gaydata" method="POST" data-netlify="true" enctype="multipart/form-data">
        <p>
            <label>
                <span>Photo:</span>
                <input name="file" type="file" />
            </label>
        </p>
        <p>
            <label for="location">Share location?</label>
            <input type="checkbox" id="location" name="location" value="">
            <input type="hidden" id="latlong" name="latlong" value="nodata">
        </p>
        <p>

            <label>name of business<input type="text" name="nameOfBusiness" /></label>
        </p>
        <p>
            <label>text of advertisement<input type="text" name="textOfAdvertisement" /></label>
        </p>
        <p>
            <label>notes<textarea name="notes"></textarea></label>
        </p>

        <p>
            <label>Message: <textarea name="message"></textarea></label>
        </p>
        <p>
            <button type="submit">Send</button>
        </p>
    </form>

    <script>
        let allowLocation = false;

        const locationCheckBox = document.getElementById('location')
        const latlong = document.getElementById('latlong')

        locationCheckBox.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                allowLocation = true
                navigator.geolocation.getCurrentPosition((position) => {
                    latlong.value = `${position.coords.latitude};${position.coords.longitude}`
                })
            } else {
                allowLocation = false
                latlong.value = 'nodata'
            }
        })
    </script>

</body>

</html>
