{% extends 'base.html' %}
{% block content %}
    <form name="gaydata" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Photo:</label>
                <input name="file" type="file" />
        
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Share location?</label>
            <input type="checkbox" id="location" name="location" value="">
            <input type="hidden" id="latlong" name="latlong" value="nodata">
        </div>
         <div class="mb-3">


            <input type="text" name="myName" placeholder="my name" />
        </div>

        <div class="mb-3">


            <input type="text" name="nameOfBusiness" placeholder="name of business" />
        </div>
        <div class="mb-3">

            <input type="text" name="textOfAdvertisement" placeholder="text of advertisement"/>
        </div>
        <div class="mb-3">
            <textarea name="notes" placeholder="notes"></textarea>
        </div>

        <div class="mb-3">
            <textarea name="message" placeholder="message"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit">Send</button>
        </div>
</form>

    <script>
        let allowLocation = false;

        const locationCheckBox = document.getElementById('location')
        const latlong = document.getElementById('latlong')

        locationCheckBox.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                allowLocation = true
                navigator.geolocation.getCurrentPosition((position) => {
                    latlong.value = `${position.coords.latitude};${position.coords.longitude}`
                })
            } else {
                allowLocation = false
                latlong.value = 'nodata'
            }
        })
    </script>
{% endblock %}
